// 'warning' | 'success' | 'danger' | 'primary' | 'secondary' | 'info' | 'light' | 'dark' | 'link'

.btn-custom-warning {
  background-color: #f0ad4e;
  border-color: #eea236;
  color: #fff !important;
  width: 200px !important;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.btn-custom-warning:hover {
  background-color: #ec971f;
  border-color: #d58512;
  color: #fff !important;
  width: 200px !important;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-custom-success {
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: #fff !important;
  width: 200px !important;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-custom-success:hover {
  background-color: #449d44;
  border-color: #398439;
  color: #fff !important;
  width: 200px !important;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-custom-danger {
  background-color: #d9534f;
  border-color: #d43f3a;
  color: #fff !important;
  width: 200px !important;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-custom-danger:hover {
  background-color: #c9302c;
  border-color: #ac2925;
  color: #fff !important;
  width: 200px !important;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-custom-primary {
  background-color: #428bca;
  border-color: #357ebd;
  color: #fff !important;
  width: 200px !important;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-custom-primary:hover {
  background-color: #3071a9;
  border-color: #285e8e;
  color: #fff !important;
  width: 200px !important;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-custom-secondary {
  background-color: #5bc0de;
  border-color: #46b8da;
  color: #fff !important;
  width: 200px !important;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-custom-secondary:hover {
  background-color: #31b0d5;
  border-color: #269abc;
  color: #fff !important;
  width: 200px !important;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-custom-info {
  background-color: #5bc0de;
  border-color: #46b8da;
  color: #fff !important;
  width: 200px !important;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-custom-info:hover {
  background-color: #31b0d5;
  border-color: #269abc;
  color: #fff !important;
  width: 200px !important;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-custom-light {
  background-color: #f5f5f5;
  border-color: #e8e8e8;
  color: #101010 !important;
  width: 200px !important;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-custom-light:hover {
  background-color: #e2e2e2;
  border-color: #d5d5d5;
  color: #101010 !important;
  width: 200px !important;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-custom-dark {
  background-color: #292b2c;
  border-color: #292b2c;
  color: #fff !important;
  width: 200px !important;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-custom-dark:hover {
  background-color: #101010;
  border-color: #101010;
  color: #fff !important;
  width: 200px !important;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-custom-link {
  background-color: transparent;
  border-color: transparent;
  color: #428bca;
  width: 200px !important;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-custom-link:hover {
  background-color: transparent;
  border-color: transparent;
  color: #2a6496 !important;
  width: 200px !important;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}


/* block */ 

.btn-custom-warning-block {
  background-color: #f0ad4e;
  border-color: #eea236;
  color: #fff !important;
  width: 100% !important;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-custom-warning-block:hover {
  background-color: #ec971f;
  border-color: #d58512;
  color: #fff !important;
  width: 100% !important;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-custom-success-block {
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: #fff !important;
  width: 100% !important;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-custom-success-block:hover {
  background-color: #449d44;
  border-color: #398439;
  color: #fff !important;
  width: 100% !important;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-custom-danger-block {
  background-color: #d9534f;
  border-color: #d43f3a;
  color: #fff !important;
  width: 100% !important;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-custom-danger-block:hover {
  background-color: #c9302c;
  border-color: #ac2925;
  color: #fff !important;
  width: 100% !important;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-custom-primary-block {
  background-color: #428bca;
  border-color: #357ebd;
  color: #fff !important;
  width: 100% !important;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-custom-primary-block:hover {
  background-color: #3071a9;
  border-color: #285e8e;
  color: #fff !important;
  width: 100% !important;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-custom-secondary-block {
  background-color: #5bc0de;
  border-color: #46b8da;
  color: #fff !important;
  width: 100% !important;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-custom-secondary-block:hover {
  background-color: #31b0d5;
  border-color: #269abc;
  color: #fff !important;
  width: 100% !important;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-custom-info-block {
  background-color: #5bc0de;
  border-color: #46b8da;
  color: #fff !important;
  width: 100% !important;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-custom-info-block:hover {
  background-color: #31b0d5;
  border-color: #269abc;
  color: #fff !important;
  width: 100% !important;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}